
    
    .my-btn {
      /* padding: 12px 4px; */
      border-radius: 8px;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease;
      color: black;
    }

    .my-btn:hover {
      background-color: #284069;
      /* dark blue on hover */
      color: #ffffff;
      /* text color same rahe */
      transform: scale(1.08);
      /* thoda zoom effect */
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }