:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
    display: block;
}

body {
    margin: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #515151;
    text-align: left;
    background-color: #e9edf4;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #3f84fc;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0458eb;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Nunito", sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight: normal;
}



/* .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
} */

.dashboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.dashboard-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 84px;
}

.dashboard-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 25px;
}

.dashboard-nav {
    min-width: 238px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color:  rgb(110, 147, 202);
    z-index: 1; /* sidebar ko peeche bhejne ke liye kam value */
    /* padding-bottom: 70px;  footer space ke liye */
}

.dashboard-compact .dashboard-nav {
    display: none;
}

.dashboard-nav a {
    color: #515151;
    text-decoration: none;
}

.dashboard-nav a:hover {
    text-decoration: none;
}

.dashboard-nav {
    margin-top: 103px;
    /* margin-left: 5px; */
    background-color: rgb(110, 147, 202);
    /* margin-bottom: 10px; */
    /* max-height: calc(100vh - 70px); */
}

.dashboard-nav a {
    color: #fff;
}


.dashboard-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-item {
    min-height: 51px;
    padding: 0px 0px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
}


.dashboard-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
}

.active {
    background: rgba(0, 0, 0, 0.1);
}




.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

@media (min-width: 992px) {
    .dashboard-app {
        margin-left: 238px;
    }

    .dashboard-compact .dashboard-app {
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    .dashboard-content {
        padding: 15px 0px;
    }
}

@media (max-width: 992px) {
    .dashboard-nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1070;
    }

    .dashboard-nav.mobile-show {
        display: block;
    }
}

@media (max-width: 992px) {
    .dashboard-nav header .menu-toggle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}


/* ==================mystyle================== */
.divino {
    background-color: #284069;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.elite {
    background-color: #284069;
    width: fit-content;
    padding: 3px 12px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}
.elite:hover {
    background-color: #1f3050;
}

.overview {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
#overview{
    margin-top: -70px;
}

/* ==================carousel css================ */


	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
	font-family: 'Poppins', sans-serif;
}

.bg-offset-hero::after {
	position: absolute;
	content: '';
	width: 75%;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	background-color: #0d6efd;
}

.quote_ {
	opacity: 0.1;
}

@media (max-width: 767.98px) {
	.bg-offset-hero::after {
		width: 100%;
	}
}

/* Global card style */
.card {
  border: none !important; /* remove border */
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 600;
  font-size: 1.1rem;
}
.price {
  color: #198754; /* green for pricing */
  font-weight: 500;
  font-size: 1.05rem;
}
.note-card {
  background: #f8f9fa;
  border-left: 4px solid #ffc107;
}

.map{
    height: 90vh;
}



.price-section {
  padding: 60px 0;
  text-align: center;
  color: #fff;
}

.price-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: rgb(102, 133, 179);
}

.price-card {
  background: #fff;
  color: #333;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.price-card:hover {
  transform: translateY(-5px);
}

.price-card h5 {
  font-weight: bold;
  margin-bottom: 20px;
  border: 2px solid rgb(102, 133, 179);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.price-card p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.price-card .btn {
  background-color: rgb(102, 133, 179);
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
}

/* gallery css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #202125;
}

.heading {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    padding-bottom: 40px;
    color: #333;
}

.gallery-image {
    gap: 20px;
}

.img-box {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.img-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.transparent-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover {
    cursor: pointer;
}
